{% extends 'kzrap/layout.html' %}

{% block title %}Мақала қосу формасы{% endblock %}

{% block content %}

    <div class="features">
        <h1>МAQALA FORM</h1>
        <form method="post">
            {% csrf_token %}<br>
            {{ form.title }}<br>
            {{ form.full_text }}<br>
            {{ form.genre }}<br>
            {{ form.language }}<br>
            {{ form.date }}<br>
            {{ form.author }}<br>
            {{ form.location }}<br>

            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Maqala qosu</button>
        </form>

    </div>


{% endblock %}