{% extends 'kzrap/layout.html' %}

{% block title %}Басты бет{% endblock %}

{% block content %}

    <div class="features">
        <h1 style="font-size: 100px"><span style="color: red">KZ</span> SOUND</h1>
        <p>Жаңа тректер, жаңа альбомдар тек бізде!</p>
        <p style="margin-top: 50px; font-size:20px">KZ Sound - 2013 жылы ВКонтакте желісінде ашылған алғаш қазақ тілді Хип-Хоп бойынша блог жүргізетін жалғыз парақша. Жобаның басты мақсаты қазақ өнері мен тілін ұштастыра отырып, оларды заманауи жанрдағы әндерінде қолданып жүрген қазақ елінің рэп-әртістерін қолдау. Қазіргі танда бұл топта 150-ге жуық Қазақстандық рэп-орындаушылар бар.</p>
        <button class="btn btn-warning">Байланысу</button>
    </div>

{% endblock %}

