{% extends 'kzrap/layout.html' %}

{% load static %}

{% block title %}Демеушілер{% endblock %}

{% block content %}
    <div class="features">
        <h2>ДЕМЕУШІЛЕРІМІЗ</h2>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <span><img src="{% static 'kzrap/img/ozen.png'%}" width="260px" height="160px"></span>
                        <h4>ÖZEN</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <span><img src="{% static 'kzrap/img/pepsi.png'%}" width="360px" height="160px"></span>
                        <h4>PEPSI</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <span><img src="{% static 'kzrap/img/quryl.png'%}" width="260px" height="160px"></span>
                        <h4>QURYLTAI</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <span><img src="{% static 'kzrap/img/1x.jpg'%}" width="260px" height="160px"></span>
                        <h4>1XBET</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <span><img src="{% static 'kzrap/img/aa.png'%}" width="260px" height="160px"></span>
                        <h4>Almaty Arena</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <span><img src="{% static 'kzrap/img/zkz.jpg'%}" width="260px" height="160px"></span>
                        <h4>ZAKAZBILETOV</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}